/* место для вашего кода */
body {
    min-width: 1100px;
    min-height: 3028px;
    color: #000;
    font-family: Raleway, Arial, sans-serif;
    font-size: 18px;
    line-height: 1.2;
    background-color: #fff;
}

/* Шапка */
.header {
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    align-items: center;
    padding: 92px 50px;
}

.header__menu {
    justify-self: start;
}

.header__links-list {
    display: flex;
    gap: 32px;
    list-style: none;
}

.header__links-list-item {
    list-style: circle;
}

.header__links-list-item_no-bullit {
    list-style: none;
}

.header__link {
    border-bottom: 1px solid currentColor;
    color: inherit;
    text-decoration: none;
}

.header__link_active {
    border-bottom: none;
}

.header__logo {
    justify-self: center;
}

.header__logo-image {
    display: block;
    width: 148px;
}

.header__address {
    justify-self: end;
    max-width: 240px;
    font-style: normal;
    line-height: 1.35;
}

.header__address a {
    border-bottom: 1px solid currentColor;
    color: inherit;
    text-decoration: none;
}

/* Обложка */
.cover {
    position: relative;
    padding: 165px 50px 50px;
    color: #fff;
    background-image: url(../images/cover.jpg);
    background-position: center;
    background-size: cover;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
}

.cover__title {
    position: relative;
    z-index: 2;
    font-weight: 700;
    font-size: 100px;
    line-height: 1.15;
    text-transform: uppercase;
}

.aligned-text {
    display: block;
    margin-bottom: 20px;
    letter-spacing: 30px;
}

.aligned-text_center {
    margin-left: 60px;
    text-align: center;
}

.aligned-text_right {
    text-align: right;
}

.letter-spacing-extended {
    letter-spacing: 0.3em;
}

.no-letter-spacing {
    letter-spacing: 0;
}

.cover__description {
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 78px;
    margin-top: 135px;
}

.cover__description-text {
    font-size: 22px;
    line-height: 1.27;
    text-transform: uppercase;
    word-spacing: 18px;
}

.bet-button {
    border: 1px solid #fff;
    padding: 12px 32px;
    color: #fff;
    font-size: 22px;
    text-transform: uppercase;
    background: transparent;
    cursor: pointer;
}

/* Лоты */
.lots {
    margin: 180px 24px 120px;
}

.lots__heading {
    margin-bottom: 27px;
    margin-left: 40px;
    font-weight: 700;
    font-size: 40px;
    text-transform: uppercase;
}

.lots__card-list {
    display: flex;
    flex-wrap: nowrap;
    gap: 25px;
    margin-bottom: 30px;
    list-style: none;
}

.lots__card-list-item {
    flex: 1 1 430px;
    min-height: 450px;
}

.card-link {
    display: block;
    height: 100%;
    color: #fff;
    text-decoration: none;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding: 50px 40px;
    background-position: center;
    background-size: cover;
}

.card_type_film {
    background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
    background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
    background-image: url(../images/card-lot-03.jpg);
}

.card__title {
    position: relative;
    z-index: 2;
    font-weight: 700;
    font-size: 22px;
    line-height: 1.2;
    text-decoration: underline;
    text-transform: uppercase;
}

.card__text {
    position: relative;
    z-index: 2;
    font-size: 20px;
    line-height: 1.2;
}

.lots__look-more-link {
    margin-left: 40px;
    border-bottom: 1px solid currentColor;
    color: #000;
    font-size: 20px;
    text-decoration: none;
}

/* Об аукционе */
.about {
    display: grid;
    grid-template-columns: 430px 1fr;
    gap: 25px;
    margin: 0 24px 180px;
}

.about__column {
    display: flex;
    flex-direction: column;
}

.about__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 240px;
    height: 240px;
    margin: 0 auto;
    border-radius: 50%;
    background-color: #000;
}

.about__logo-image {
    width: 148px;
}

.about__title {
    margin-top: 100px;
    margin-bottom: 100px;
    font-weight: 700;
    font-size: 40px;
    text-transform: uppercase;
}

.about__text {
    font-size: 20px;
    line-height: 1.2;
}

.about__text p:first-child {
    margin-bottom: 25px;
}

/* Подвал */
.footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 180px;
    padding: 0px 0px;
}

.address {
    margin: 0px 0px 0px 50px;
    font-style: normal;
    line-height: 1.35;
}

.address a {
    border-bottom: 1px solid currentColor;
    color: inherit;
    text-decoration: none;
}

.footer__menu {
    justify-self: center;
}

.footer__menu-list {
    text-align: center;
    list-style: none;
}

.footer__menu-list-item {
    margin-bottom: 5px;
}

.footer__menu-link {
    border-bottom: 1px solid;
    color: inherit;
    font-size: 18px;
    text-decoration: none;
}

.footer__menu-link_active {
    border-bottom: none;
}

.footer__social-list {
    display: flex;
    justify-self: end;
    gap: 48px;
    margin: 0px 50px;
    list-style: none;
}

.footer__social-icon {
    width: 48px;
}